
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(42, 41, 41);
}

.weather-menu {
  background: #181c1d;
  color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  text-align: left;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 5px 0;
}

.weather-text {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.weather-text img {
  width: 130px;
}